

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color: white;
            /* height: 100vh; */
            /* width: 100vw; */
        }
        .data{
            background-color: white;
            width: 30%;
            margin: 0 auto;
            margin-top: 30vh;
            border: 7px solid black;
            border-radius: 7px;
            min-height: 250px;
            min-width: 500px;

        }
        .list6b {
            padding:0;
            list-style: none;
            width: 100%;
            font-size: 2.5em;
        }
        .list6b li{
            padding:6px;
            width: 97%;
            text-align:center;
        }
        .list6b li:before {
            padding-right:10px;
            font-weight: bold;
            color: #C0C0C0;
            content: "\2714";
            transition-duration: 0.5s;
        }
        .list6b li:hover:before {
            color: #337AB7;
            content: "\2714";
        }    
    </style>
</head>
<body>
    <div class="data">
        {% if creators %}
            <h1><center>Создатели:</center></h1>
            
            <ul class="list6b">
            {% for creator in creators %}
                <li>{{ creator.id }}. {{ creator.surname }}  {{ creator.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h1>What???</h1>
        {% endif %}
    </div>
</body>
</html>